<div class="post-meta">
    <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%B %d, %Y" }}
    </time>
    
    <span class="reading-time">
        {% if post.reading_time %}
            {{ post.reading_time }} min read
        {% elsif post.content %}
            {{ post.content | number_of_words | divided_by: 200 | plus: 1 }} min read
        {% else %}
            1 min read
        {% endif %}
    </span>
    
    {% if post.categories.size > 0 %}
        <div class="post-categories">
            {% for category in post.categories %}
                <a href="/blog/categories/{{ category | slugify }}.html" class="category">{{ category }}</a>
            {% endfor %}
        </div>
    {% endif %}
</div>